assignment-client/src/wsdl/localhost_6060/assignment-webService/AdminWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://assignment/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://assignment/">

<xs:element name="addBranch" type="tns:addBranch"/>

<xs:element name="addBranchAdmin" type="tns:addBranchAdmin"/>

<xs:element name="addBranchAdminResponse" type="tns:addBranchAdminResponse"/>

<xs:element name="addBranchResponse" type="tns:addBranchResponse"/>

<xs:element name="addCity" type="tns:addCity"/>

<xs:element name="addCityResponse" type="tns:addCityResponse"/>

<xs:element name="addDestination" type="tns:addDestination"/>

<xs:element name="addDestinationResponse" type="tns:addDestinationResponse"/>

<xs:element name="addDriver" type="tns:addDriver"/>

<xs:element name="addDriverResponse" type="tns:addDriverResponse"/>

<xs:element name="addVehicle" type="tns:addVehicle"/>

<xs:element name="addVehicleResponse" type="tns:addVehicleResponse"/>

<xs:element name="addVehicleType" type="tns:addVehicleType"/>

<xs:element name="addVehicleTypeResponse" type="tns:addVehicleTypeResponse"/>

<xs:element name="authAdmin" type="tns:authAdmin"/>

<xs:element name="authAdminResponse" type="tns:authAdminResponse"/>

<xs:element name="deleteAdmin" type="tns:deleteAdmin"/>

<xs:element name="deleteAdminResponse" type="tns:deleteAdminResponse"/>

<xs:element name="deleteBranch" type="tns:deleteBranch"/>

<xs:element name="deleteBranchResponse" type="tns:deleteBranchResponse"/>

<xs:element name="deleteCity" type="tns:deleteCity"/>

<xs:element name="deleteCityResponse" type="tns:deleteCityResponse"/>

<xs:element name="deleteCustomer" type="tns:deleteCustomer"/>

<xs:element name="deleteCustomerResponse" type="tns:deleteCustomerResponse"/>

<xs:element name="deleteDriver" type="tns:deleteDriver"/>

<xs:element name="deleteDriverResponse" type="tns:deleteDriverResponse"/>

<xs:element name="deleteVehicle" type="tns:deleteVehicle"/>

<xs:element name="deleteVehicleResponse" type="tns:deleteVehicleResponse"/>

<xs:element name="deleteVehicleType" type="tns:deleteVehicleType"/>

<xs:element name="deleteVehicleTypeResponse" type="tns:deleteVehicleTypeResponse"/>

<xs:element name="getAdminById" type="tns:getAdminById"/>

<xs:element name="getAdminByIdResponse" type="tns:getAdminByIdResponse"/>

<xs:element name="getAdmins" type="tns:getAdmins"/>

<xs:element name="getAdminsResponse" type="tns:getAdminsResponse"/>

<xs:element name="getBranchById" type="tns:getBranchById"/>

<xs:element name="getBranchByIdResponse" type="tns:getBranchByIdResponse"/>

<xs:element name="getBranches" type="tns:getBranches"/>

<xs:element name="getBranchesResponse" type="tns:getBranchesResponse"/>

<xs:element name="getCities" type="tns:getCities"/>

<xs:element name="getCitiesResponse" type="tns:getCitiesResponse"/>

<xs:element name="getCitiesWithOutSelectedId" type="tns:getCitiesWithOutSelectedId"/>

<xs:element name="getCitiesWithOutSelectedIdResponse" type="tns:getCitiesWithOutSelectedIdResponse"/>

<xs:element name="getCityById" type="tns:getCityById"/>

<xs:element name="getCityByIdResponse" type="tns:getCityByIdResponse"/>

<xs:element name="getCustomerById" type="tns:getCustomerById"/>

<xs:element name="getCustomerByIdResponse" type="tns:getCustomerByIdResponse"/>

<xs:element name="getCustomers" type="tns:getCustomers"/>

<xs:element name="getCustomersResponse" type="tns:getCustomersResponse"/>

<xs:element name="getDistanceBySourceIdAndDestinationId" type="tns:getDistanceBySourceIdAndDestinationId"/>

<xs:element name="getDistanceBySourceIdAndDestinationIdResponse" type="tns:getDistanceBySourceIdAndDestinationIdResponse"/>

<xs:element name="getDriverById" type="tns:getDriverById"/>

<xs:element name="getDriverByIdResponse" type="tns:getDriverByIdResponse"/>

<xs:element name="getDrivers" type="tns:getDrivers"/>

<xs:element name="getDriversResponse" type="tns:getDriversResponse"/>

<xs:element name="getVehicleById" type="tns:getVehicleById"/>

<xs:element name="getVehicleByIdResponse" type="tns:getVehicleByIdResponse"/>

<xs:element name="getVehicleTypeById" type="tns:getVehicleTypeById"/>

<xs:element name="getVehicleTypeByIdResponse" type="tns:getVehicleTypeByIdResponse"/>

<xs:element name="getVehicleTypes" type="tns:getVehicleTypes"/>

<xs:element name="getVehicleTypesResponse" type="tns:getVehicleTypesResponse"/>

<xs:element name="getVehicles" type="tns:getVehicles"/>

<xs:element name="getVehiclesResponse" type="tns:getVehiclesResponse"/>

<xs:element name="upadteBranch" type="tns:upadteBranch"/>

<xs:element name="upadteBranchResponse" type="tns:upadteBranchResponse"/>

<xs:element name="updateBranchAdmin" type="tns:updateBranchAdmin"/>

<xs:element name="updateBranchAdminResponse" type="tns:updateBranchAdminResponse"/>

<xs:element name="updateCity" type="tns:updateCity"/>

<xs:element name="updateCityResponse" type="tns:updateCityResponse"/>

<xs:element name="updateCustomer" type="tns:updateCustomer"/>

<xs:element name="updateCustomerResponse" type="tns:updateCustomerResponse"/>

<xs:element name="updateDriver" type="tns:updateDriver"/>

<xs:element name="updateDriverResponse" type="tns:updateDriverResponse"/>

<xs:element name="updateVehicle" type="tns:updateVehicle"/>

<xs:element name="updateVehicleResponse" type="tns:updateVehicleResponse"/>

<xs:element name="updateVehicleType" type="tns:updateVehicleType"/>

<xs:element name="updateVehicleTypeResponse" type="tns:updateVehicleTypeResponse"/>

<xs:complexType name="deleteCustomer">
<xs:sequence>
<xs:element name="customerId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchById">
<xs:sequence>
<xs:element name="branch_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:branch" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="branch">
<xs:sequence>
<xs:element name="address1" type="xs:string" minOccurs="0"/>
<xs:element name="address2" type="xs:string" minOccurs="0"/>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="cityId" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fixed" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAdmins">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAdminsResponse">
<xs:sequence>
<xs:element name="return" type="tns:admin" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="admin">
<xs:complexContent>
<xs:extension base="tns:person">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="isSuper" type="xs:boolean"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addVehicle">
<xs:sequence>
<xs:element name="driverId" type="xs:int"/>
<xs:element name="vehicleTypeId" type="xs:int"/>
<xs:element name="vehilceNo" type="xs:string" minOccurs="0"/>
<xs:element name="ratePerKm" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addVehicleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCitiesWithOutSelectedId">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCitiesWithOutSelectedIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:city" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="city">
<xs:sequence>
<xs:element name="cityId" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCity">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCityResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteVehicle">
<xs:sequence>
<xs:element name="vehicleId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteVehicleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDriver">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="driverId" type="xs:int"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="drivingLicense" type="xs:string" minOccurs="0"/>
<xs:element name="licenseExpireDate" type="xs:string" minOccurs="0"/>
<xs:element name="nic" type="xs:string" minOccurs="0"/>
<xs:element name="passoword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authAdmin">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDistanceBySourceIdAndDestinationId">
<xs:sequence>
<xs:element name="sourceId" type="xs:int"/>
<xs:element name="destinationId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDistanceBySourceIdAndDestinationIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:distance" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="distance">
<xs:sequence>
<xs:element name="destinationId" type="xs:int"/>
<xs:element name="distance" type="xs:string" minOccurs="0"/>
<xs:element name="distanceId" type="xs:int"/>
<xs:element name="sourceId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDestination">
<xs:sequence>
<xs:element name="sourceId" type="xs:int"/>
<xs:element name="destinationId" type="xs:int"/>
<xs:element name="distance" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDestinationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBranch">
<xs:sequence>
<xs:element name="branch_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBranchResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCustomers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCustomersResponse">
<xs:sequence>
<xs:element name="return" type="tns:customer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:complexContent>
<xs:extension base="tns:person">
<xs:sequence>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getCities">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCitiesResponse">
<xs:sequence>
<xs:element name="return" type="tns:city" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addVehicleType">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="initialCost" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addVehicleTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAdminById">
<xs:sequence>
<xs:element name="adminId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAdminByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCustomer">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleTypes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getVehicleTypesResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicleType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vehicleType">
<xs:sequence>
<xs:element name="initialCost" type="xs:double"/>
<xs:element name="vehicleType" type="xs:string" minOccurs="0"/>
<xs:element name="vehilceTypeId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDriver">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="drivingLicense" type="xs:string" minOccurs="0"/>
<xs:element name="licenseExpireDate" type="xs:string" minOccurs="0"/>
<xs:element name="nic" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteVehicleType">
<xs:sequence>
<xs:element name="vehicleId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteVehicleTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverById">
<xs:sequence>
<xs:element name="driverId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driver">
<xs:complexContent>
<xs:extension base="tns:person">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="licenseExpireDate" type="xs:string" minOccurs="0"/>
<xs:element name="licenseId" type="xs:string" minOccurs="0"/>
<xs:element name="nationalId" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="deleteDriver">
<xs:sequence>
<xs:element name="driverId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleById">
<xs:sequence>
<xs:element name="vehicleId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicle" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vehicle">
<xs:sequence>
<xs:element name="availability" type="xs:boolean"/>
<xs:element name="driverId" type="xs:int"/>
<xs:element name="ratePerKm" type="xs:double"/>
<xs:element name="registerNo" type="xs:string" minOccurs="0"/>
<xs:element name="typeId" type="xs:int"/>
<xs:element name="vehicleId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="upadteBranch">
<xs:sequence>
<xs:element name="branch_id" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="fixed" type="xs:string" minOccurs="0"/>
<xs:element name="address1" type="xs:string" minOccurs="0"/>
<xs:element name="address2" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="upadteBranchResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleTypeById">
<xs:sequence>
<xs:element name="vehicleId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleTypeByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicleType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCity">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCityResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBranchAdmin">
<xs:sequence>
<xs:element name="adminId" type="xs:int"/>
<xs:element name="driverId" type="xs:int"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBranchAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCityById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCityByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:city" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBranch">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="fixed" type="xs:string" minOccurs="0"/>
<xs:element name="address1" type="xs:string" minOccurs="0"/>
<xs:element name="address2" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBranchResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVehicle">
<xs:sequence>
<xs:element name="vehicleId" type="xs:int"/>
<xs:element name="driverId" type="xs:int"/>
<xs:element name="vehicleTypeId" type="xs:int"/>
<xs:element name="vehilceNo" type="xs:string" minOccurs="0"/>
<xs:element name="ratePerKm" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVehicleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCustomerById">
<xs:sequence>
<xs:element name="customerId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCustomerByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCity">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCityResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAdmin">
<xs:sequence>
<xs:element name="adminId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranches">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBranchesResponse">
<xs:sequence>
<xs:element name="return" type="tns:branch" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDrivers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDriversResponse">
<xs:sequence>
<xs:element name="return" type="tns:driver" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBranchAdmin">
<xs:sequence>
<xs:element name="driverId" type="xs:int"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBranchAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVehicleType">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="initialCost" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVehicleTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicles">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getVehiclesResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicle" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>