assignment-client/src/wsdl/localhost_6060/assignment-webService/AdminWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://assignment/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://assignment/" name="AdminWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://assignment/" schemaLocation="http://localhost:6060/assignment-webService/AdminWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="addCity">
<part name="parameters" element="tns:addCity"/>
</message>
<message name="addCityResponse">
<part name="parameters" element="tns:addCityResponse"/>
</message>
<message name="getCities">
<part name="parameters" element="tns:getCities"/>
</message>
<message name="getCitiesResponse">
<part name="parameters" element="tns:getCitiesResponse"/>
</message>
<message name="getCitiesWithOutSelectedId">
<part name="parameters" element="tns:getCitiesWithOutSelectedId"/>
</message>
<message name="getCitiesWithOutSelectedIdResponse">
<part name="parameters" element="tns:getCitiesWithOutSelectedIdResponse"/>
</message>
<message name="deleteCity">
<part name="parameters" element="tns:deleteCity"/>
</message>
<message name="deleteCityResponse">
<part name="parameters" element="tns:deleteCityResponse"/>
</message>
<message name="getCityById">
<part name="parameters" element="tns:getCityById"/>
</message>
<message name="getCityByIdResponse">
<part name="parameters" element="tns:getCityByIdResponse"/>
</message>
<message name="updateCity">
<part name="parameters" element="tns:updateCity"/>
</message>
<message name="updateCityResponse">
<part name="parameters" element="tns:updateCityResponse"/>
</message>
<message name="upadteBranch">
<part name="parameters" element="tns:upadteBranch"/>
</message>
<message name="upadteBranchResponse">
<part name="parameters" element="tns:upadteBranchResponse"/>
</message>
<message name="addVehicleType">
<part name="parameters" element="tns:addVehicleType"/>
</message>
<message name="addVehicleTypeResponse">
<part name="parameters" element="tns:addVehicleTypeResponse"/>
</message>
<message name="getVehicleTypes">
<part name="parameters" element="tns:getVehicleTypes"/>
</message>
<message name="getVehicleTypesResponse">
<part name="parameters" element="tns:getVehicleTypesResponse"/>
</message>
<message name="deleteVehicleType">
<part name="parameters" element="tns:deleteVehicleType"/>
</message>
<message name="deleteVehicleTypeResponse">
<part name="parameters" element="tns:deleteVehicleTypeResponse"/>
</message>
<message name="getVehicleTypeById">
<part name="parameters" element="tns:getVehicleTypeById"/>
</message>
<message name="getVehicleTypeByIdResponse">
<part name="parameters" element="tns:getVehicleTypeByIdResponse"/>
</message>
<message name="updateVehicleType">
<part name="parameters" element="tns:updateVehicleType"/>
</message>
<message name="updateVehicleTypeResponse">
<part name="parameters" element="tns:updateVehicleTypeResponse"/>
</message>
<message name="deleteDriver">
<part name="parameters" element="tns:deleteDriver"/>
</message>
<message name="deleteDriverResponse">
<part name="parameters" element="tns:deleteDriverResponse"/>
</message>
<message name="getDriverById">
<part name="parameters" element="tns:getDriverById"/>
</message>
<message name="getDriverByIdResponse">
<part name="parameters" element="tns:getDriverByIdResponse"/>
</message>
<message name="updateDriver">
<part name="parameters" element="tns:updateDriver"/>
</message>
<message name="updateDriverResponse">
<part name="parameters" element="tns:updateDriverResponse"/>
</message>
<message name="addBranchAdmin">
<part name="parameters" element="tns:addBranchAdmin"/>
</message>
<message name="addBranchAdminResponse">
<part name="parameters" element="tns:addBranchAdminResponse"/>
</message>
<message name="updateBranchAdmin">
<part name="parameters" element="tns:updateBranchAdmin"/>
</message>
<message name="updateBranchAdminResponse">
<part name="parameters" element="tns:updateBranchAdminResponse"/>
</message>
<message name="getAdmins">
<part name="parameters" element="tns:getAdmins"/>
</message>
<message name="getAdminsResponse">
<part name="parameters" element="tns:getAdminsResponse"/>
</message>
<message name="getAdminById">
<part name="parameters" element="tns:getAdminById"/>
</message>
<message name="getAdminByIdResponse">
<part name="parameters" element="tns:getAdminByIdResponse"/>
</message>
<message name="deleteAdmin">
<part name="parameters" element="tns:deleteAdmin"/>
</message>
<message name="deleteAdminResponse">
<part name="parameters" element="tns:deleteAdminResponse"/>
</message>
<message name="addVehicle">
<part name="parameters" element="tns:addVehicle"/>
</message>
<message name="addVehicleResponse">
<part name="parameters" element="tns:addVehicleResponse"/>
</message>
<message name="getVehicles">
<part name="parameters" element="tns:getVehicles"/>
</message>
<message name="getVehiclesResponse">
<part name="parameters" element="tns:getVehiclesResponse"/>
</message>
<message name="deleteVehicle">
<part name="parameters" element="tns:deleteVehicle"/>
</message>
<message name="deleteVehicleResponse">
<part name="parameters" element="tns:deleteVehicleResponse"/>
</message>
<message name="getVehicleById">
<part name="parameters" element="tns:getVehicleById"/>
</message>
<message name="getVehicleByIdResponse">
<part name="parameters" element="tns:getVehicleByIdResponse"/>
</message>
<message name="updateVehicle">
<part name="parameters" element="tns:updateVehicle"/>
</message>
<message name="updateVehicleResponse">
<part name="parameters" element="tns:updateVehicleResponse"/>
</message>
<message name="addDestination">
<part name="parameters" element="tns:addDestination"/>
</message>
<message name="addDestinationResponse">
<part name="parameters" element="tns:addDestinationResponse"/>
</message>
<message name="getDistanceBySourceIdAndDestinationId">
<part name="parameters" element="tns:getDistanceBySourceIdAndDestinationId"/>
</message>
<message name="getDistanceBySourceIdAndDestinationIdResponse">
<part name="parameters" element="tns:getDistanceBySourceIdAndDestinationIdResponse"/>
</message>
<message name="getDrivers">
<part name="parameters" element="tns:getDrivers"/>
</message>
<message name="getDriversResponse">
<part name="parameters" element="tns:getDriversResponse"/>
</message>
<message name="getBranches">
<part name="parameters" element="tns:getBranches"/>
</message>
<message name="getBranchesResponse">
<part name="parameters" element="tns:getBranchesResponse"/>
</message>
<message name="addBranch">
<part name="parameters" element="tns:addBranch"/>
</message>
<message name="addBranchResponse">
<part name="parameters" element="tns:addBranchResponse"/>
</message>
<message name="getBranchById">
<part name="parameters" element="tns:getBranchById"/>
</message>
<message name="getBranchByIdResponse">
<part name="parameters" element="tns:getBranchByIdResponse"/>
</message>
<message name="deleteBranch">
<part name="parameters" element="tns:deleteBranch"/>
</message>
<message name="deleteBranchResponse">
<part name="parameters" element="tns:deleteBranchResponse"/>
</message>
<message name="addDriver">
<part name="parameters" element="tns:addDriver"/>
</message>
<message name="addDriverResponse">
<part name="parameters" element="tns:addDriverResponse"/>
</message>
<portType name="AdminWebService">
<operation name="addCity">
<input wsam:Action="http://assignment/AdminWebService/addCityRequest" message="tns:addCity"/>
<output wsam:Action="http://assignment/AdminWebService/addCityResponse" message="tns:addCityResponse"/>
</operation>
<operation name="getCities">
<input wsam:Action="http://assignment/AdminWebService/getCitiesRequest" message="tns:getCities"/>
<output wsam:Action="http://assignment/AdminWebService/getCitiesResponse" message="tns:getCitiesResponse"/>
</operation>
<operation name="getCitiesWithOutSelectedId">
<input wsam:Action="http://assignment/AdminWebService/getCitiesWithOutSelectedIdRequest" message="tns:getCitiesWithOutSelectedId"/>
<output wsam:Action="http://assignment/AdminWebService/getCitiesWithOutSelectedIdResponse" message="tns:getCitiesWithOutSelectedIdResponse"/>
</operation>
<operation name="deleteCity">
<input wsam:Action="http://assignment/AdminWebService/deleteCityRequest" message="tns:deleteCity"/>
<output wsam:Action="http://assignment/AdminWebService/deleteCityResponse" message="tns:deleteCityResponse"/>
</operation>
<operation name="getCityById">
<input wsam:Action="http://assignment/AdminWebService/getCityByIdRequest" message="tns:getCityById"/>
<output wsam:Action="http://assignment/AdminWebService/getCityByIdResponse" message="tns:getCityByIdResponse"/>
</operation>
<operation name="updateCity">
<input wsam:Action="http://assignment/AdminWebService/updateCityRequest" message="tns:updateCity"/>
<output wsam:Action="http://assignment/AdminWebService/updateCityResponse" message="tns:updateCityResponse"/>
</operation>
<operation name="upadteBranch">
<input wsam:Action="http://assignment/AdminWebService/upadteBranchRequest" message="tns:upadteBranch"/>
<output wsam:Action="http://assignment/AdminWebService/upadteBranchResponse" message="tns:upadteBranchResponse"/>
</operation>
<operation name="addVehicleType">
<input wsam:Action="http://assignment/AdminWebService/addVehicleTypeRequest" message="tns:addVehicleType"/>
<output wsam:Action="http://assignment/AdminWebService/addVehicleTypeResponse" message="tns:addVehicleTypeResponse"/>
</operation>
<operation name="getVehicleTypes">
<input wsam:Action="http://assignment/AdminWebService/getVehicleTypesRequest" message="tns:getVehicleTypes"/>
<output wsam:Action="http://assignment/AdminWebService/getVehicleTypesResponse" message="tns:getVehicleTypesResponse"/>
</operation>
<operation name="deleteVehicleType">
<input wsam:Action="http://assignment/AdminWebService/deleteVehicleTypeRequest" message="tns:deleteVehicleType"/>
<output wsam:Action="http://assignment/AdminWebService/deleteVehicleTypeResponse" message="tns:deleteVehicleTypeResponse"/>
</operation>
<operation name="getVehicleTypeById">
<input wsam:Action="http://assignment/AdminWebService/getVehicleTypeByIdRequest" message="tns:getVehicleTypeById"/>
<output wsam:Action="http://assignment/AdminWebService/getVehicleTypeByIdResponse" message="tns:getVehicleTypeByIdResponse"/>
</operation>
<operation name="updateVehicleType">
<input wsam:Action="http://assignment/AdminWebService/updateVehicleTypeRequest" message="tns:updateVehicleType"/>
<output wsam:Action="http://assignment/AdminWebService/updateVehicleTypeResponse" message="tns:updateVehicleTypeResponse"/>
</operation>
<operation name="deleteDriver">
<input wsam:Action="http://assignment/AdminWebService/deleteDriverRequest" message="tns:deleteDriver"/>
<output wsam:Action="http://assignment/AdminWebService/deleteDriverResponse" message="tns:deleteDriverResponse"/>
</operation>
<operation name="getDriverById">
<input wsam:Action="http://assignment/AdminWebService/getDriverByIdRequest" message="tns:getDriverById"/>
<output wsam:Action="http://assignment/AdminWebService/getDriverByIdResponse" message="tns:getDriverByIdResponse"/>
</operation>
<operation name="updateDriver">
<input wsam:Action="http://assignment/AdminWebService/updateDriverRequest" message="tns:updateDriver"/>
<output wsam:Action="http://assignment/AdminWebService/updateDriverResponse" message="tns:updateDriverResponse"/>
</operation>
<operation name="addBranchAdmin">
<input wsam:Action="http://assignment/AdminWebService/addBranchAdminRequest" message="tns:addBranchAdmin"/>
<output wsam:Action="http://assignment/AdminWebService/addBranchAdminResponse" message="tns:addBranchAdminResponse"/>
</operation>
<operation name="updateBranchAdmin">
<input wsam:Action="http://assignment/AdminWebService/updateBranchAdminRequest" message="tns:updateBranchAdmin"/>
<output wsam:Action="http://assignment/AdminWebService/updateBranchAdminResponse" message="tns:updateBranchAdminResponse"/>
</operation>
<operation name="getAdmins">
<input wsam:Action="http://assignment/AdminWebService/getAdminsRequest" message="tns:getAdmins"/>
<output wsam:Action="http://assignment/AdminWebService/getAdminsResponse" message="tns:getAdminsResponse"/>
</operation>
<operation name="getAdminById">
<input wsam:Action="http://assignment/AdminWebService/getAdminByIdRequest" message="tns:getAdminById"/>
<output wsam:Action="http://assignment/AdminWebService/getAdminByIdResponse" message="tns:getAdminByIdResponse"/>
</operation>
<operation name="deleteAdmin">
<input wsam:Action="http://assignment/AdminWebService/deleteAdminRequest" message="tns:deleteAdmin"/>
<output wsam:Action="http://assignment/AdminWebService/deleteAdminResponse" message="tns:deleteAdminResponse"/>
</operation>
<operation name="addVehicle">
<input wsam:Action="http://assignment/AdminWebService/addVehicleRequest" message="tns:addVehicle"/>
<output wsam:Action="http://assignment/AdminWebService/addVehicleResponse" message="tns:addVehicleResponse"/>
</operation>
<operation name="getVehicles">
<input wsam:Action="http://assignment/AdminWebService/getVehiclesRequest" message="tns:getVehicles"/>
<output wsam:Action="http://assignment/AdminWebService/getVehiclesResponse" message="tns:getVehiclesResponse"/>
</operation>
<operation name="deleteVehicle">
<input wsam:Action="http://assignment/AdminWebService/deleteVehicleRequest" message="tns:deleteVehicle"/>
<output wsam:Action="http://assignment/AdminWebService/deleteVehicleResponse" message="tns:deleteVehicleResponse"/>
</operation>
<operation name="getVehicleById">
<input wsam:Action="http://assignment/AdminWebService/getVehicleByIdRequest" message="tns:getVehicleById"/>
<output wsam:Action="http://assignment/AdminWebService/getVehicleByIdResponse" message="tns:getVehicleByIdResponse"/>
</operation>
<operation name="updateVehicle">
<input wsam:Action="http://assignment/AdminWebService/updateVehicleRequest" message="tns:updateVehicle"/>
<output wsam:Action="http://assignment/AdminWebService/updateVehicleResponse" message="tns:updateVehicleResponse"/>
</operation>
<operation name="addDestination">
<input wsam:Action="http://assignment/AdminWebService/addDestinationRequest" message="tns:addDestination"/>
<output wsam:Action="http://assignment/AdminWebService/addDestinationResponse" message="tns:addDestinationResponse"/>
</operation>
<operation name="getDistanceBySourceIdAndDestinationId">
<input wsam:Action="http://assignment/AdminWebService/getDistanceBySourceIdAndDestinationIdRequest" message="tns:getDistanceBySourceIdAndDestinationId"/>
<output wsam:Action="http://assignment/AdminWebService/getDistanceBySourceIdAndDestinationIdResponse" message="tns:getDistanceBySourceIdAndDestinationIdResponse"/>
</operation>
<operation name="getDrivers">
<input wsam:Action="http://assignment/AdminWebService/getDriversRequest" message="tns:getDrivers"/>
<output wsam:Action="http://assignment/AdminWebService/getDriversResponse" message="tns:getDriversResponse"/>
</operation>
<operation name="getBranches">
<input wsam:Action="http://assignment/AdminWebService/getBranchesRequest" message="tns:getBranches"/>
<output wsam:Action="http://assignment/AdminWebService/getBranchesResponse" message="tns:getBranchesResponse"/>
</operation>
<operation name="addBranch">
<input wsam:Action="http://assignment/AdminWebService/addBranchRequest" message="tns:addBranch"/>
<output wsam:Action="http://assignment/AdminWebService/addBranchResponse" message="tns:addBranchResponse"/>
</operation>
<operation name="getBranchById">
<input wsam:Action="http://assignment/AdminWebService/getBranchByIdRequest" message="tns:getBranchById"/>
<output wsam:Action="http://assignment/AdminWebService/getBranchByIdResponse" message="tns:getBranchByIdResponse"/>
</operation>
<operation name="deleteBranch">
<input wsam:Action="http://assignment/AdminWebService/deleteBranchRequest" message="tns:deleteBranch"/>
<output wsam:Action="http://assignment/AdminWebService/deleteBranchResponse" message="tns:deleteBranchResponse"/>
</operation>
<operation name="addDriver">
<input wsam:Action="http://assignment/AdminWebService/addDriverRequest" message="tns:addDriver"/>
<output wsam:Action="http://assignment/AdminWebService/addDriverResponse" message="tns:addDriverResponse"/>
</operation>
</portType>
<binding name="AdminWebServicePortBinding" type="tns:AdminWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCitiesWithOutSelectedId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCityById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="upadteBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addVehicleType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteVehicleType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleTypeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateVehicleType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDriverById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBranchAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBranchAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAdmins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAdminById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDestination">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDistanceBySourceIdAndDestinationId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDrivers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBranches">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBranchById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AdminWebService">
<port name="AdminWebServicePort" binding="tns:AdminWebServicePortBinding">
<soap:address location="http://localhost:6060/assignment-webService/AdminWebService"/>
</port>
</service>
</definitions>