assignment-client/src/wsdl/localhost_6060/assignment-webService/AdminWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://assignment/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://assignment/" name="AdminWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://assignment/" schemaLocation="http://localhost:6060/assignment-webService/AdminWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateCity">
<part name="parameters" element="tns:updateCity"/>
</message>
<message name="updateCityResponse">
<part name="parameters" element="tns:updateCityResponse"/>
</message>
<message name="deleteCity">
<part name="parameters" element="tns:deleteCity"/>
</message>
<message name="deleteCityResponse">
<part name="parameters" element="tns:deleteCityResponse"/>
</message>
<message name="getCityById">
<part name="parameters" element="tns:getCityById"/>
</message>
<message name="getCityByIdResponse">
<part name="parameters" element="tns:getCityByIdResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addCity">
<part name="parameters" element="tns:addCity"/>
</message>
<message name="addCityResponse">
<part name="parameters" element="tns:addCityResponse"/>
</message>
<message name="getCities">
<part name="parameters" element="tns:getCities"/>
</message>
<message name="getCitiesResponse">
<part name="parameters" element="tns:getCitiesResponse"/>
</message>
<portType name="AdminWebService">
<operation name="updateCity">
<input wsam:Action="http://assignment/AdminWebService/updateCityRequest" message="tns:updateCity"/>
<output wsam:Action="http://assignment/AdminWebService/updateCityResponse" message="tns:updateCityResponse"/>
</operation>
<operation name="deleteCity">
<input wsam:Action="http://assignment/AdminWebService/deleteCityRequest" message="tns:deleteCity"/>
<output wsam:Action="http://assignment/AdminWebService/deleteCityResponse" message="tns:deleteCityResponse"/>
</operation>
<operation name="getCityById">
<input wsam:Action="http://assignment/AdminWebService/getCityByIdRequest" message="tns:getCityById"/>
<output wsam:Action="http://assignment/AdminWebService/getCityByIdResponse" message="tns:getCityByIdResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://assignment/AdminWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://assignment/AdminWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addCity">
<input wsam:Action="http://assignment/AdminWebService/addCityRequest" message="tns:addCity"/>
<output wsam:Action="http://assignment/AdminWebService/addCityResponse" message="tns:addCityResponse"/>
</operation>
<operation name="getCities">
<input wsam:Action="http://assignment/AdminWebService/getCitiesRequest" message="tns:getCities"/>
<output wsam:Action="http://assignment/AdminWebService/getCitiesResponse" message="tns:getCitiesResponse"/>
</operation>
</portType>
<binding name="AdminWebServicePortBinding" type="tns:AdminWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCityById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AdminWebService">
<port name="AdminWebServicePort" binding="tns:AdminWebServicePortBinding">
<soap:address location="http://localhost:6060/assignment-webService/AdminWebService"/>
</port>
</service>
</definitions>