assignment-client/src/wsdl/localhost_6060/assignment-webService/AssignmentDBService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://assignment/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://assignment/" name="AssignmentDBService">
<types>
<xsd:schema>
<xsd:import namespace="http://assignment/" schemaLocation="http://localhost:6060/assignment-webService/AssignmentDBService?xsd=1"/>
</xsd:schema>
</types>
<message name="authUser">
<part name="parameters" element="tns:authUser"/>
</message>
<message name="authUserResponse">
<part name="parameters" element="tns:authUserResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="testFunction">
<part name="parameters" element="tns:testFunction"/>
</message>
<message name="testFunctionResponse">
<part name="parameters" element="tns:testFunctionResponse"/>
</message>
<message name="getUserByMobile">
<part name="parameters" element="tns:getUserByMobile"/>
</message>
<message name="getUserByMobileResponse">
<part name="parameters" element="tns:getUserByMobileResponse"/>
</message>
<portType name="AssignmentDBService">
<operation name="authUser">
<input wsam:Action="http://assignment/AssignmentDBService/authUserRequest" message="tns:authUser"/>
<output wsam:Action="http://assignment/AssignmentDBService/authUserResponse" message="tns:authUserResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://assignment/AssignmentDBService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://assignment/AssignmentDBService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://assignment/AssignmentDBService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://assignment/AssignmentDBService/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="testFunction">
<input wsam:Action="http://assignment/AssignmentDBService/testFunctionRequest" message="tns:testFunction"/>
<output wsam:Action="http://assignment/AssignmentDBService/testFunctionResponse" message="tns:testFunctionResponse"/>
</operation>
<operation name="getUserByMobile">
<input wsam:Action="http://assignment/AssignmentDBService/getUserByMobileRequest" message="tns:getUserByMobile"/>
<output wsam:Action="http://assignment/AssignmentDBService/getUserByMobileResponse" message="tns:getUserByMobileResponse"/>
</operation>
</portType>
<binding name="AssignmentDBServicePortBinding" type="tns:AssignmentDBService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="authUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="testFunction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserByMobile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AssignmentDBService">
<port name="AssignmentDBServicePort" binding="tns:AssignmentDBServicePortBinding">
<soap:address location="http://localhost:6060/assignment-webService/AssignmentDBService"/>
</port>
</service>
</definitions>