assignment-client/src/wsdl/localhost_6060/assignment-webService/CustomerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://assignment/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://assignment/" name="CustomerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://assignment/" schemaLocation="http://localhost:6060/assignment-webService/CustomerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="sendTestEmail">
<part name="parameters" element="tns:sendTestEmail"/>
</message>
<message name="sendTestEmailResponse">
<part name="parameters" element="tns:sendTestEmailResponse"/>
</message>
<message name="getDriversByTypeIdAndSouceCity">
<part name="parameters" element="tns:getDriversByTypeIdAndSouceCity"/>
</message>
<message name="getDriversByTypeIdAndSouceCityResponse">
<part name="parameters" element="tns:getDriversByTypeIdAndSouceCityResponse"/>
</message>
<message name="vehiclePriceCalculation">
<part name="parameters" element="tns:vehiclePriceCalculation"/>
</message>
<message name="vehiclePriceCalculationResponse">
<part name="parameters" element="tns:vehiclePriceCalculationResponse"/>
</message>
<message name="getCustomersBookingsById">
<part name="parameters" element="tns:getCustomersBookingsById"/>
</message>
<message name="getCustomersBookingsByIdResponse">
<part name="parameters" element="tns:getCustomersBookingsByIdResponse"/>
</message>
<message name="addBooking">
<part name="parameters" element="tns:addBooking"/>
</message>
<message name="addBookingResponse">
<part name="parameters" element="tns:addBookingResponse"/>
</message>
<message name="authCustomer">
<part name="parameters" element="tns:authCustomer"/>
</message>
<message name="authCustomerResponse">
<part name="parameters" element="tns:authCustomerResponse"/>
</message>
<portType name="CustomerWebService">
<operation name="sendTestEmail">
<input wsam:Action="http://assignment/CustomerWebService/sendTestEmailRequest" message="tns:sendTestEmail"/>
<output wsam:Action="http://assignment/CustomerWebService/sendTestEmailResponse" message="tns:sendTestEmailResponse"/>
</operation>
<operation name="getDriversByTypeIdAndSouceCity">
<input wsam:Action="http://assignment/CustomerWebService/getDriversByTypeIdAndSouceCityRequest" message="tns:getDriversByTypeIdAndSouceCity"/>
<output wsam:Action="http://assignment/CustomerWebService/getDriversByTypeIdAndSouceCityResponse" message="tns:getDriversByTypeIdAndSouceCityResponse"/>
</operation>
<operation name="vehiclePriceCalculation">
<input wsam:Action="http://assignment/CustomerWebService/vehiclePriceCalculationRequest" message="tns:vehiclePriceCalculation"/>
<output wsam:Action="http://assignment/CustomerWebService/vehiclePriceCalculationResponse" message="tns:vehiclePriceCalculationResponse"/>
</operation>
<operation name="getCustomersBookingsById">
<input wsam:Action="http://assignment/CustomerWebService/getCustomersBookingsByIdRequest" message="tns:getCustomersBookingsById"/>
<output wsam:Action="http://assignment/CustomerWebService/getCustomersBookingsByIdResponse" message="tns:getCustomersBookingsByIdResponse"/>
</operation>
<operation name="addBooking">
<input wsam:Action="http://assignment/CustomerWebService/addBookingRequest" message="tns:addBooking"/>
<output wsam:Action="http://assignment/CustomerWebService/addBookingResponse" message="tns:addBookingResponse"/>
</operation>
<operation name="authCustomer">
<input wsam:Action="http://assignment/CustomerWebService/authCustomerRequest" message="tns:authCustomer"/>
<output wsam:Action="http://assignment/CustomerWebService/authCustomerResponse" message="tns:authCustomerResponse"/>
</operation>
</portType>
<binding name="CustomerWebServicePortBinding" type="tns:CustomerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sendTestEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDriversByTypeIdAndSouceCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vehiclePriceCalculation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomersBookingsById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="authCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerWebService">
<port name="CustomerWebServicePort" binding="tns:CustomerWebServicePortBinding">
<soap:address location="http://localhost:6060/assignment-webService/CustomerWebService"/>
</port>
</service>
</definitions>