assignment-client/src/wsdl/localhost_6060/assignment-webService/DriverWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://assignment/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://assignment/">

<xs:element name="authDriver" type="tns:authDriver"/>

<xs:element name="authDriverResponse" type="tns:authDriverResponse"/>

<xs:element name="driverBookingAccept" type="tns:driverBookingAccept"/>

<xs:element name="driverBookingAcceptResponse" type="tns:driverBookingAcceptResponse"/>

<xs:element name="driverBookingComplete" type="tns:driverBookingComplete"/>

<xs:element name="driverBookingCompleteResponse" type="tns:driverBookingCompleteResponse"/>

<xs:element name="getDriverBookings" type="tns:getDriverBookings"/>

<xs:element name="getDriverBookingsResponse" type="tns:getDriverBookingsResponse"/>

<xs:element name="getDriverByEmail" type="tns:getDriverByEmail"/>

<xs:element name="getDriverByEmailResponse" type="tns:getDriverByEmailResponse"/>

<xs:element name="getDriverById" type="tns:getDriverById"/>

<xs:element name="getDriverByIdResponse" type="tns:getDriverByIdResponse"/>

<xs:element name="getLetestBooking" type="tns:getLetestBooking"/>

<xs:element name="getLetestBookingResponse" type="tns:getLetestBookingResponse"/>

<xs:element name="getOrdersCountByDriverId" type="tns:getOrdersCountByDriverId"/>

<xs:element name="getOrdersCountByDriverIdResponse" type="tns:getOrdersCountByDriverIdResponse"/>

<xs:element name="getRevenueByDriverId" type="tns:getRevenueByDriverId"/>

<xs:element name="getRevenueByDriverIdResponse" type="tns:getRevenueByDriverIdResponse"/>

<xs:element name="sendCompleteBookingMail" type="tns:sendCompleteBookingMail"/>

<xs:element name="sendCompleteBookingMailResponse" type="tns:sendCompleteBookingMailResponse"/>

<xs:element name="updateDriverProfile" type="tns:updateDriverProfile"/>

<xs:element name="updateDriverProfileResponse" type="tns:updateDriverProfileResponse"/>

<xs:complexType name="getDriverBookings">
<xs:sequence>
<xs:element name="driverId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverBookingsResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="booking">
<xs:sequence>
<xs:element name="bookingId" type="xs:int"/>
<xs:element name="customerId" type="xs:int"/>
<xs:element name="distance" type="xs:double"/>
<xs:element name="dropOffCityId" type="xs:int"/>
<xs:element name="dropOffStreet" type="xs:string" minOccurs="0"/>
<xs:element name="feedBackStatus" type="xs:boolean"/>
<xs:element name="pickUpCityId" type="xs:int"/>
<xs:element name="pickUpStreet" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="status" type="xs:int"/>
<xs:element name="vehicleId" type="xs:int"/>
<xs:element name="vehicleTypeId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driverBookingAccept">
<xs:sequence>
<xs:element name="bookingId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driverBookingAcceptResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverById">
<xs:sequence>
<xs:element name="driverId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driver">
<xs:complexContent>
<xs:extension base="tns:person">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="licenseExpireDate" type="xs:string" minOccurs="0"/>
<xs:element name="licenseId" type="xs:string" minOccurs="0"/>
<xs:element name="nationalId" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendCompleteBookingMail">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendCompleteBookingMailResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDriverProfile">
<xs:sequence>
<xs:element name="driverId" type="xs:int"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="licence" type="xs:string" minOccurs="0"/>
<xs:element name="nic" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDriverProfileResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driverBookingComplete">
<xs:sequence>
<xs:element name="bookingId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driverBookingCompleteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrdersCountByDriverId">
<xs:sequence>
<xs:element name="driverId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrdersCountByDriverIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authDriver">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRevenueByDriverId">
<xs:sequence>
<xs:element name="driverId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRevenueByDriverIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverByEmail">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverByEmailResponse">
<xs:sequence>
<xs:element name="return" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLetestBooking">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLetestBookingResponse">
<xs:sequence>
<xs:element name="return" type="tns:booking" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>