assignment-client/src/wsdl/localhost_6060/assignment-webService/DriverWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://assignment/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://assignment/" name="DriverWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://assignment/" schemaLocation="http://localhost:6060/assignment-webService/DriverWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="authDriver">
<part name="parameters" element="tns:authDriver"/>
</message>
<message name="authDriverResponse">
<part name="parameters" element="tns:authDriverResponse"/>
</message>
<message name="getDriverByEmail">
<part name="parameters" element="tns:getDriverByEmail"/>
</message>
<message name="getDriverByEmailResponse">
<part name="parameters" element="tns:getDriverByEmailResponse"/>
</message>
<message name="getDriverBookings">
<part name="parameters" element="tns:getDriverBookings"/>
</message>
<message name="getDriverBookingsResponse">
<part name="parameters" element="tns:getDriverBookingsResponse"/>
</message>
<message name="driverBookingAccept">
<part name="parameters" element="tns:driverBookingAccept"/>
</message>
<message name="driverBookingAcceptResponse">
<part name="parameters" element="tns:driverBookingAcceptResponse"/>
</message>
<message name="driverBookingComplete">
<part name="parameters" element="tns:driverBookingComplete"/>
</message>
<message name="driverBookingCompleteResponse">
<part name="parameters" element="tns:driverBookingCompleteResponse"/>
</message>
<message name="getDriverById">
<part name="parameters" element="tns:getDriverById"/>
</message>
<message name="getDriverByIdResponse">
<part name="parameters" element="tns:getDriverByIdResponse"/>
</message>
<message name="updateDriverProfile">
<part name="parameters" element="tns:updateDriverProfile"/>
</message>
<message name="updateDriverProfileResponse">
<part name="parameters" element="tns:updateDriverProfileResponse"/>
</message>
<message name="getRevenueByDriverId">
<part name="parameters" element="tns:getRevenueByDriverId"/>
</message>
<message name="getRevenueByDriverIdResponse">
<part name="parameters" element="tns:getRevenueByDriverIdResponse"/>
</message>
<message name="getOrdersCountByDriverId">
<part name="parameters" element="tns:getOrdersCountByDriverId"/>
</message>
<message name="getOrdersCountByDriverIdResponse">
<part name="parameters" element="tns:getOrdersCountByDriverIdResponse"/>
</message>
<portType name="DriverWebService">
<operation name="authDriver">
<input wsam:Action="http://assignment/DriverWebService/authDriverRequest" message="tns:authDriver"/>
<output wsam:Action="http://assignment/DriverWebService/authDriverResponse" message="tns:authDriverResponse"/>
</operation>
<operation name="getDriverByEmail">
<input wsam:Action="http://assignment/DriverWebService/getDriverByEmailRequest" message="tns:getDriverByEmail"/>
<output wsam:Action="http://assignment/DriverWebService/getDriverByEmailResponse" message="tns:getDriverByEmailResponse"/>
</operation>
<operation name="getDriverBookings">
<input wsam:Action="http://assignment/DriverWebService/getDriverBookingsRequest" message="tns:getDriverBookings"/>
<output wsam:Action="http://assignment/DriverWebService/getDriverBookingsResponse" message="tns:getDriverBookingsResponse"/>
</operation>
<operation name="driverBookingAccept">
<input wsam:Action="http://assignment/DriverWebService/driverBookingAcceptRequest" message="tns:driverBookingAccept"/>
<output wsam:Action="http://assignment/DriverWebService/driverBookingAcceptResponse" message="tns:driverBookingAcceptResponse"/>
</operation>
<operation name="driverBookingComplete">
<input wsam:Action="http://assignment/DriverWebService/driverBookingCompleteRequest" message="tns:driverBookingComplete"/>
<output wsam:Action="http://assignment/DriverWebService/driverBookingCompleteResponse" message="tns:driverBookingCompleteResponse"/>
</operation>
<operation name="getDriverById">
<input wsam:Action="http://assignment/DriverWebService/getDriverByIdRequest" message="tns:getDriverById"/>
<output wsam:Action="http://assignment/DriverWebService/getDriverByIdResponse" message="tns:getDriverByIdResponse"/>
</operation>
<operation name="updateDriverProfile">
<input wsam:Action="http://assignment/DriverWebService/updateDriverProfileRequest" message="tns:updateDriverProfile"/>
<output wsam:Action="http://assignment/DriverWebService/updateDriverProfileResponse" message="tns:updateDriverProfileResponse"/>
</operation>
<operation name="getRevenueByDriverId">
<input wsam:Action="http://assignment/DriverWebService/getRevenueByDriverIdRequest" message="tns:getRevenueByDriverId"/>
<output wsam:Action="http://assignment/DriverWebService/getRevenueByDriverIdResponse" message="tns:getRevenueByDriverIdResponse"/>
</operation>
<operation name="getOrdersCountByDriverId">
<input wsam:Action="http://assignment/DriverWebService/getOrdersCountByDriverIdRequest" message="tns:getOrdersCountByDriverId"/>
<output wsam:Action="http://assignment/DriverWebService/getOrdersCountByDriverIdResponse" message="tns:getOrdersCountByDriverIdResponse"/>
</operation>
</portType>
<binding name="DriverWebServicePortBinding" type="tns:DriverWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="authDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDriverByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDriverBookings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="driverBookingAccept">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="driverBookingComplete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDriverById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateDriverProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRevenueByDriverId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrdersCountByDriverId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DriverWebService">
<port name="DriverWebServicePort" binding="tns:DriverWebServicePortBinding">
<soap:address location="http://localhost:6060/assignment-webService/DriverWebService"/>
</port>
</service>
</definitions>