assignment-client/src/wsdl/localhost_9090/assignment-webService/CustomerWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://assignment/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://assignment/">

<xs:element name="authCustomer" type="tns:authCustomer"/>

<xs:element name="authCustomerResponse" type="tns:authCustomerResponse"/>

<xs:element name="getDriversByTypeId" type="tns:getDriversByTypeId"/>

<xs:element name="getDriversByTypeIdResponse" type="tns:getDriversByTypeIdResponse"/>

<xs:complexType name="getDriversByTypeId">
<xs:sequence>
<xs:element name="typeId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriversByTypeIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:driver" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driver">
<xs:complexContent>
<xs:extension base="tns:person">
<xs:sequence>
<xs:element name="licenseExpireDate" type="xs:string" minOccurs="0"/>
<xs:element name="licenseId" type="xs:string" minOccurs="0"/>
<xs:element name="nationalId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authCustomer">
<xs:sequence>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>